<div class="masthead">
 	<div class="navbar">
        <div class="navbar-inner">
        	<a href="/" class="brand"><img title="ASTOUND Initiative" alt="ASTOUND Initiative" src="/css/images/logo-header.png"><h1 class="hidden" style="display:none;">ASTOUND Initiative</h1></a>
			<div class="container">
				<ul id="menu-navigation-menu" class="nav">
					<li id="menu-item-17" data-url="/about/" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-16 current_page_item current-menu-ancestor current-menu-parent current_page_parent current_page_ancestor menu-item-has-children menu-item-17 depth0 dropdown"><a href="/about/" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li id="menu-item-67" class="menu-item menu-item-type-post_type menu-item-object-page page_item page-item-16 current_page_item menu-item-67 depth1"><a href="/about/">About</a></li>
							<li id="menu-item-51" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51 depth1"><a href="/about/#background">Background</a></li>
							<li id="menu-item-52" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-52 depth1"><a href="/about/#partners">Partners</a></li>
						</ul>
					</li>
					<li id="menu-item-20" data-url="/program/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-20 depth0 dropdown"><a href="/program/" class="dropdown-toggle" data-toggle="dropdown">Program <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li id="menu-item-66" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-66 depth1"><a href="/program/">Overview</a></li>
							<li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63 depth1"><a href="/more_workshop/">Workshops</a></li>
							<li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61 depth1"><a href="/more_salon/">Salons</a></li>
							<li id="menu-item-62" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-62 depth1"><a href="/more_summit/">Summit</a></li>
						</ul>
					</li>
					<li id="menu-item-23" data-url="/who_we_are/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-23 depth0 dropdown"><a href="/who_we_are/" class="dropdown-toggle" data-toggle="dropdown">Who We Are <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li id="menu-item-64" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-64 depth1"><a href="/who_we_are/">People</a></li>
							<li id="menu-item-47" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47 depth1"><a href="/bio/">Speaker Bios</a></li>
						</ul>
					</li>
					<li id="menu-item-26" data-url="/resources/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-26 depth0 dropdown"><a href="/resources/" class="dropdown-toggle" data-toggle="dropdown">Resources <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li id="menu-item-65" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-65 depth1"><a href="/resources/">Tools</a></li>
							<li id="menu-item-42" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-42 depth1"><a href="/resources/#books">Books</a></li>
							<li id="menu-item-44" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-44 depth1"><a href="/resources/#reports">Reports</a></li>
						</ul>
					</li>
					<li id="menu-item-15" data-url="/contact/" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-15 depth0"><a href="/contact/">Contact</a></li>
				</ul>
			</div>
		</div><!-- /div.navbar-inner -->
	</div><!-- /div.navbar -->
</div>
